html,
body {
    background-image: url("https://cloud.githubusercontent.com/assets/12666105/14068810/c773d3ea-f45c-11e5-8a60-fafcbb76b0db.png");
    background-color: #cccccc;
}
h1 {
	font-family: 'Lucida Console', 'Lucida Sans Typewriter';
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
p {
	font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
